<div class="container">
  <div class="row">
      <div class="mx-auto">
        <div class="col-md">
          <h3>退会確認画面</h3>
          <div>
            <h3>本当に退会しますか？</h3>
            <div>
              <p>退会する場合は、「退会する」をクリックしてください。</p>
            </div>
            <div>
              <%#= link_to '退会しない', customer_path(customer.id) %>
              <%= link_to '退会する', withdrawal_update_path, method: :patch %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>