<div class="container">
  <div class="e">
    <h1>About</h1>
    <p>クラブミュージックを通して同じ趣味を持つ仲間を作り交流を深めることができるサイトです。</p>
    <p>コロナで自宅にいる時間が増えたことにより、沢山の人が新しいことに挑戦し始める機会にもなっているかと思います。</p>
    <p>そんな時にこのサイトを観覧し今まで触れてこなかった新しい世界を知るきっかけや、</p>
    <p>すでに知っている人には必要な情報を手に入れ、時には自分の持っている知識や情報、</p>
    <p>オススメしたいアーティストや曲を発信する場としてご活用いただければともいます。</p>
  </div>
</div>
